
 /* Primer Container */
 .container1 {
  background: linear-gradient(to right,#6a1b9a,#ad1457);
  text-align: center;
  height: 100vh;
}

 /* Segundo Container */
.container2 {
  background-image: url(../img/fondo2.jpg);
  text-align: center;
  height: 100vh;
  text-transform: uppercase;
}
/* Tamaño para celular */

@media (max-width: 767px) {
  [class*="col-"]{
    max-width: 100%;
    line-height: 0;
	}
  
  .logo1 img {
  	text-align: center;
  	width: 200%;
    margin-top: 200%;
    margin-left: -25px;
    }

  .logo2 {
    text-align: center;
  	width: 210%;
  	margin-top: 20px;
    margin-left: 0;
    }

  .logo3 {
    text-align: center;
    width: 15vh;
    margin-top: 1em;
    }

  .btn {
    margin-top: 3em;
    border-radius: 5px;
    border: 2px solid #fff;

    }
/* Container 3*/
  .container3 {
    text-align: center;
    }

  }

